<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  namespace绑定接口后，可以不用写接口实现类，Mybatis会通过该绑定自动帮你找到对应要执行的SQL语句 -->
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">

    <!--  将公用字段取出,便于使用
        -->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <!--  resultType为返回类型
          对于resultType字段,由于在 application.properties文件中配置了以下这段话
          mybatis.type-aliases-package=com.nowcoder.community.entity
          已经告诉它适配类在哪个包下,所以不用打出全限类名

           一个标签对应一个DiscussPostMapper中的一个方法,
           养成习惯,尽量不要写select *

     -->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        <!--  <include>可以直接取用前面的公用字段
            符号 # 可以引用方法的参数,并嵌入sql语句
            如#{offset}, #{limit}
            代表引用
            List<DiscussPost> selectDiscussPosts(int userId, int offset, int limit);
            函数中的offset参数和limit参数
            -->
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost">
        insert into discuss_post(<include refid="insertFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post

        where id = #{id}
    </select>

    <update id="updateCommentCount">
        update discuss_post set comment_count = #{commentCount} where id = #{id}
    </update>

</mapper>